#pragma once

// Kopiere diese Datei zu "secrets.h" und trage deine echten Werte ein.
// secrets.h ist in .gitignore und wird nie committed.

#define WIFI_SSID "DEIN_WLAN_NAME"
#define WIFI_PASSWORD "DEIN_WLAN_PASSWORT"

#define HA_BASE_URL "http://192.168.0.42:8123"

#define WEBHOOK_CINEMA_ON   "c90f97148b4b3eb5"
#define WEBHOOK_CINEMA_OFF  "868818cab12fda92"
#define WEBHOOK_CAMERAS_OFF "c25bb5bb3b54510b"
#define WEBHOOK_CAMERAS_ON  "9cce5525ca85c962"
